#codo {
	width: 10%;
    height: auto;
	margin-bottom: 15px;
}
nav {
	background-color: #a9a9a9;
	text-align: right;
	height: 2em;
	margin-bottom: 5px;
	padding: 0.25rem;
}
.enlaces {
	padding-top: 5px;
	padding-right: 5px;
}
.html img {
	width: 7%;
	height: auto;
	position: relative;
	left: 35px;
}
.css img {
	width: 9%;
	height: auto;
	position: relative;
	left: 5px;
}
main {
    padding: 0 13rem 0 13rem;
    text-align: justify;
}
footer {
    background-color: #a9a9a9;
    text-align: center;
}